*.old
*.dsp
*.aps
*.opt
*.dsw
*.dsp
*.pdb
*.idb
*.res
*.pch
release
debug
bin
obj
fullrelease
Release
Debug
Test
FullRelease
singlefilehelper
ipctester
soundcheck
spsutil
fdrawcmd
resourcedll
consolewrapper
decompress
*.bak
*.tlog
*.lastbuildstate
*.log
*.opensdf
*.ncb
*.sdf
*.suo
*.db
*.exe
*.dep
*.htm
*.orig
*.rej
*.iobj
*.ipdb
*.opendb
packages
packages.config
